<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" </head>

    <body>
        <div class="div-infos">
            <div>
                <p>Nome:</p>
            </div>
            <div>
                <p>Betão Eistein</p>
            </div>
        </div>
        <div class="div-infos">
            <div>
                <p>Idade:</p>
            </div>
            <div>
                <p>42</p>
            </div>
        </div>
        <div>
            <img src="../static/img/serio.jpg">
        </div>
        <div>
            <p>Betão tá sério</p>
        </div>
    </body>

</html>